@font-face {
  font-family: "Cinzel Decorative";
  src: url('fonts/CinzelDecorative-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "kaffeesatzthin";
  src: url('fonts/yanonekaffeesatz-extralight-webfont.ttf') format("truetype");
}

p.statictext {
  font-size: 20px;
}

b,strong {
  color: #2dcb73;
}

.center {
  text-align: center;
}

div.image.statictext {
  padding:20px;
  text-align: center;
}

.admin {
  background-color: #014B63
}

h3.statictext {
  color: #33ccff;
}

a {
  color: #2dcb73;
}

.green {
  color: #2dcb73;
}

ol {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

li.page {
  padding: 5px;
}


.padding-top {
  padding-top: 30px;
}

.to_top{width:40px; height:38px; display:block; background:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; color:#aaa; -webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out; position:fixed; bottom:20px; right:20px; cursor:pointer; text-align:center; padding-top:2px;display:none; opacity:0.6;-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.to_top:hover{ background:#2dcb73; color:#fff; opacity:1;}

.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

#Floating {
  text-align: center;
  padding: 10px;
    position: fixed;
    top: 110px;
    right: 20px;
    height: 80px;
    width: 140px;
    color: #ffffff;
    background-color: #200108;
    box-shadow: 1px 1px 0px #888888;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 99;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption p {
  margin-left: 60%;
  line-height: 1.4;
}

.carousel_title {
  font-family: "Cinzel Decorative";
  /*background-color: #2dcb73;*/
  background-color: rgba(45, 203, 115, 0.9);
  padding: 10px;
  color:#003951;
  font-size:22px;
  text-shadow: 1px 1px #000000;
  margin-bottom: 0px;
}

.carousel_desc {
  background:  rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin-left: 60%;
  color:#FFFFFF;
  font-size:20px;
  text-shadow: 1px 1px #000000;
  font-family: "kaffeesatzthin";
}

.myCarousel-buttons {
  padding:10px;
  font-size:22px;
  color:#000000;
  font-weight:bold
}



.block_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 30px auto;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

.marketing {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
}

.icon_wrap {
  font-size: 2em;
  padding: 26px;
}

div.mid-row-block {
  text-align: center;
  padding-top: 2%;
  background-color: rgba(45, 203, 115, 0);
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: padding-top,color,background-color 0.5s; /* For Safari 3.1 to 6.0 */
  -webkit-font-smoothing: antialiased;
  transition: padding-top,color,background-color 0.5s;
  font-smoothing: antialiased;
}

div.mid-row-block:hover {
  padding-top: 0%;
  color: rgba(0, 57, 81, 1);
  background-color: rgb(45, 203, 115);
  padding-bottom: 2%
}

@-webkit-keyframes test {
    from {background-color: rgba (45,203,115,0);}
    to {background-color: rgba (45,203,115);}
}

/* Standard syntax */
@keyframes test {
    from {background-color: rgba (45,203,115,0);}
    to {background-color: rgba (45,203,115);}
}

.container.stage {
  background-color: #ffffff;
  padding: 100px;
}

.page-heading{
  text-align: center;
  font-family: "kaffeesatzthin";
  color: #ffffff;
  padding:20px;
  font-size: 48px;
  font-weight: bold;
  background-color: rgb(45, 203, 115);
}

.navbar-right {
  font-family: "kaffeesatzthin";
}

.static {
  font-family: 'Open Sans', sans-serif;
}

.location_holder {
  padding: 20px;
  color: #ffffff;
  background: #405d69;
  font-size: 20px;
}

.front_page_service {
  font-family: "Cinzel Decorative";
  padding-top: 30px;
  padding-left: 90px;
  font-size: 36px;
  font-weight: bold;
}

.front_page_service_desc {
  font-family: "kaffeesatzthin";
  padding-top: 20px;
  padding-left: 90px;
  font-size: 32px;
  font-weight: bold;
}

.large {
  font-size: 100px;
  color: rgb(45, 203, 115);
}



@media screen and (max-width:500px) {
  a.heading {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    padding-top: 30px;
    font-family: "Cinzel Decorative";
    font-weight: normal;
    font-size: 30px;
  }
  #myCarousel {
    padding-top: 10px
  }
}

@media screen and (max-width:660px) {
  .carousel-caption p{
    margin-left: 0px;
  }
  .carousel_desc {
    margin-left: 0px;
  }
}

@media screen and (min-width:501px) {
  a.heading {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-family: "Cinzel Decorative";
    font-weight: normal;
    font-size: 50px;
  }
}

h2.heading {
  text-decoration: none;
  color: #333333;
  font-family: "kaffeesatzthin";
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 36px;
  font-weight: normal;
}

h4.heading {
  text-decoration: none;
  color: #011a63;
  font-family: "kaffeesatzthin";
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 24px;
}

.padder {
  padding: 20px;
}

body {
  background-color: #01634b;
}

.left {
  float:left;
}

.right {
  float:right;
}

.remove-selector {
  color:#333333;
  font-size:12px;
}

.remove-selector:hover {
  color:#FF0000;
  font-size:12px;
}









.navbar-default {
  background-color: #333333;
  border-color: #333333;
  margin: 0px;
}


.navbar-default .navbar-brand {
  padding: 5px 5px;
  color: #ffffff;
  font-size: 40px;
  font-weight:bold;
  background-color: #333333;
}


.navbar-default .wide{    /* Added temporarily to make the brand stick to the middle of the top bar */
  padding-top: 0px;
  background-color: #333333;
  max-width:100%;
  height:110px;
}

#navbar {
  background-color: #333333;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #333333;
}
.navbar-default .navbar-toggle {
  border-color: #98a7c6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7a2b6a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}



.navbar-default .navbar-collapse
.navbar-default .navbar-form{
  background-color: #5E7D7E;
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fed900;
}
/* The following is set to that the menu items stay at the right and there's padding from the right edge of the window*/
.navbar-default .navbar-right {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.top-spacer {
  height:100px;
}

.top-spacer-front {
  height:50px;
}

.login {
  padding:50px;
  border-radius: 20px;
  background-color:#ffffff
}

.footer {
	background: #e8f0ff;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #2c3e50;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #2c3e50
}

.footer-bottom {
	background: #333333;
	border-top: 1px solid #DDDDDD;
  color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom.user-dashboard {
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
	background: #333333;
	border-top: 1px solid #DDDDDD;
  color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
  padding-top: 8px;
	font-size: 20px;
	margin: 0 0 0 8px;
	color: #EDEFF1 !important;
}


.welcome-message {
  padding:10px;
  font-size: 14px;
  color: #ffffff;
  text-align: right;

}



.how-it-works::before {
  background-image: url('/images/front_page/coconut-background.jpeg');
  position: relative;
}

.how-it-works {
  background-image: url('/images/front_page/coconut-background.jpeg');
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px #000000;
}

.how-it-works-content{
  opacity: 1.0;
  padding: 60px;
  color: #ffffff;
  font-size: 64px;
  position: relative;
}

.label {
  color: #4a6475;
  font-size: 14px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.glyphicon-warning-sign {
    padding: 10px;
    font-size: 50px;
    color: #ffd800;
}

.glyphicon-info-sign {
    padding: 10px;
    font-size: 50px;
    color: #00cbff;
}

.glyphicon-remove-sign {
  padding: 10px;
  font-size: 50px;
  color: #d11b1b;
}
