<!DOCTYPE HTML>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="css/main.css" >
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="js/main.js"></script>
  <script src="js/sha256.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script>

    $(document).ready(function() {
      if (getCookie("NewAccount") == "True") {
          deleteCookie("NewAccount");
          $('#new_account_alert').show();
      }


      getLocationSummary();

    });
  </script>
</head>
<body>
  <nav class="navbar navbar-default">
        <div class="nav-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          <a class="heading" href="#">MeadowMender</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><div class="welcome-message">Hello, <br> <%=fname%>!</div></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="getUserProfileDetails()">Profile</a></li>
                  <li><a href="#" onclick="logout();">Logout</a></li>
                </ul>
              </li>
              <li><a href="#" onclick="$('#help_modal').modal('show');">Help</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="modal fade" id="information_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="information_modal-title-id"></h4>
            </div>
            <div class="modal-body">
            <span class="glyphicon glyphicon-info-sign"></span>
              <p id="information_modal-p-id">

              </p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>

        </div>
      </div>
      </div>


      <div class="modal" id="help_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="help_modal-title-id">We are here to help!</h4>
            </div>
            <div class="modal-body">
            <span class="glyphicon glyphicon-info-sign"></span>
              <p id="help_modal-p-id">
                In case you have any queries, please send us an email at <a href="mailto:support@meadowmender.com">support@meadowmender.com.</a>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>

        </div>
      </div>
      </div>


      <div class="modal fade" id="warning_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="warning_modal-title-id"></h4>
            </div>
            <div class="modal-body">
            <span class="glyphicon glyphicon-warning-sign"></span>
              <p id="warning_modal-p-id" style="text-align:left">

              </p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>

        </div>
      </div>
      </div>

      <div class="modal fade" id="error_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="error_modal-title-id"></h4>
            </div>
            <div class="modal-body">
            <span class="glyphicon glyphicon-remove-sign"></span>
              <p id="error_modal-p-id">

              </p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="error_modal-close">Close</button>
          </div>

        </div>
      </div>
      </div>

      <div class="modal fade" id="changePassword" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
              <p>
                 You can change your password here.
              </p>
              <div class="form-group" id="form-group_existing-password">
                <label for="username">Current Password:</label>
              </div>
              <input type="password" class="form-control" name="email" id="e_password" required/>
              <br />
              <div class="form-group" id="form-group_new-password1">
                <label for="password">New Password:</label>
              </div>
              <input type="password" class="form-control" name="email" id="login_password" required/>
              <br />
              <div class="form-group" id="form-group_new-password2">
                <label for="password">Repeat New Password:</label>
              </div>
              <input type="password" class="form-control" name="email" id="login_password2" required/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="changePassword()">Change Password</button>
            </div>
          </div>

        </div>
      </div>

      <div class="container padder">

      </div>
      <div class="container stage">
        <div class="row padder">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-success" role="alert" id="new_account_alert" style="display:none">
              <strong> Congratulations!!! </strong> Your account has been created successfully. We will be reaching out to you shortly via email for planning a visit to your property.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="heading" id="headingDesc"> Your property informaton:  </h2>
            <div id="propertySummary">
              <div style="width:100%;text-align:center">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:72px"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row padder">
        </div>
      </div>
      <div class="container padder">

      </div>

<input type="hidden" name="email" id="email" value="<%=email%>">
<input type="hidden" name="fname" id="fname" value="<%=fname%>">
<footer>
<div class="footer-bottom"><!--/.footer-->

<div class="container">
<div class="row">
  <div class="col-sm-2">
    <a href="https://www.instantssl.com/ssl-certificate-products/multi-domain-ssl-certificate.html">
      <img src="https://ssl.comodo.com/images/comodo_secure_seal_113x59_transp.png" alt="Multi Domain SSL" width="113" height="59" style="border: 0px;"><br> <span style="color:#FFFFFF;font-weight:bold; font-size:7pt">Multi Domain SSL</span></a><br>
  </div>
  <div class="col-sm-8" style="padding-top:20px">
    <p class="pull-left"> Copyright © meadowmender.com 2017 </p>
    <br />
    </div>
    <div class="col-sm-2" style="padding-top:20px">
      <p class="pull-right" style="padding-top:6px"> Design by <a href="mailto:trznt.technologies@gmail.com" style="color:#ffffff">trznt</a></a>.</p>
     </div>

</div>


</div>
</div>
<!--/.footer-bottom-->
</footer>


</body>
</html>
